div.view-home {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* border-style: solid; */
  /* border-color: blue; */
}
div.view-home-wrapper {
  text-align: center;
  /* border-style: solid; */
  /* border-color: brown; */
}
