.navbar-toolbar {
}

.navbar-home {
  position: relative;
  display: flex;
  width: 10%;
  padding: 0;
  border: 0;
  margin-left: 0;
  z-index: 1;
  /* border-style: solid; */
  /* border-color: aqua; */

}

.navbar-tab {
  position: relative;
  display: flex;
  width: 100%;
  margin-left: -10%;
  justify-content: center;
  /* border-style: solid; */
  /* border-color: aqua; */
}
